server:
  port: 8082

spring:
  application:
    name: logistics-cmn # 字典服务项目

  datasource:   # mysql 数据库配置
    driver-class-name: com.mysql.jdbc.Driver # 设置数据库驱动
    url: jdbc:mysql://localhost:3306/logistics_cmn?characterEncoding=utf-8&useSSL=false # 数据库连接地址
    username: root
    password: "031500"

  cloud:
    nacos:
      discovery:
        server-addr: 192.168.195.130:8848

  redis:
    host: 192.168.195.130
    port: 6379
    database: 0
    timeout: 5000ms

mybatis-plus:
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl  # 配置输出日志
  global-config:
    db-config:
      table-prefix: t_  # 设置表前缀
